<style>
	#connection, .top-absolute {
		display: none;
	}
</style>

<div class="login-container">
	<div class="row no-margin">
		<div class="col-md-3 col-centered col-sm-8 text-center h100vh">
			<div class="login-form">
				
				<span class="logo">Tech Talent Asia</span>

				<form action="" class="form-login form-custom">
					<input type="email" class="input-custom" placeholder="Email">
					<input type="password" class="input-custom" placeholder="Password">
					<button type="submit" class="btn btn-block btn-login">Log In</button>
					<br>
					<p class="font-gray"><a href="#">Forget</a> your email or password?</p>
					<hr>
					<span><strong><em>or</em></strong></span>
					<button type="submit" class="btn btn-block btn-signup">Sign Up</button>
				</form>

			</div>

		</div>
	</div>
</div>