
<div class="login-container">
	<div class="row no-margin">
		<div class="col-md-3 col-centered col-sm-8 text-center h100vh">
			<div class="login-form">
				
				<a href="/" class="logo">Tech Talent Asia</a>

				<form method="post" ng-submit="login.doLogin()" class="form-login form-custom">
					<input type="email" class="input-custom" placeholder="Email" name="email" ng-model="login.loginData.email">
					<input type="password" class="input-custom" placeholder="Password" name="password" ng-model="login.loginData.password">
					<button type="submit" class="btn btn-block btn-login">Log In</button>
					<br>
					<div class="checkbox pull-left font-gray">
					   <label><input type="checkbox" ng-model="remember.me"> Remember me</label>
					</div>
					<p class="font-gray pull-right"><a href="#">Forgot your password ?</a></p>
					<br><br>
					<hr>
					<span><strong><em>Didn't have account ?</em></strong></span>
					<button type="submit" class="btn btn-block btn-signup">Sign Up</button>
					<button ng-click="authenticate('facebook')">Sign in with Facebook</button>
					<button ng-click="authenticate('google')">Sign in with Google</button>
					<button ng-click="authenticate('github')">Sign in with GitHub</button>
					<button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
					<button ng-click="authenticate('twitter')">Sign in with Twitter</button>
					<button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
				</form>

			</div>

		</div>
	</div>
</div>