<div id="carousel-home" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-home" data-slide-to="{{ $index }}" ng-repeat="photo in photos" ng-class='{active:$first}'></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item" ng-class='{active:$first}' ng-repeat="photo in photos">
			<div style="background: url({{ photo.url }})" class="img"></div>
			<div class="carousel-caption wow fadeInUp" ng-bind-html="photo.title"></div>
		</div>
		
	</div>
</div>


<div class="row no-margin">
	<div class="col-xs-6 col-md-3 no-padding wow fadeIn" data-wow-duration="1s" data-wow-delay="{{ $index * 0.2 }}s" ng-repeat="photo in photos">
		<a href="#/" class="thumbnail thumbnail-custom">
			<div style="background: url({{ photo.url }})" class="img">
				<div class="title-box">
					<span class="title">{{ photo.title }}</span>
				</div>
			</div>
		</a>
	</div>
</div>