<div class="bg">
	
	<div ng-include src="'views/layout/header.html'"></div>

	<canvas id="myCanvas" width="500px" height="500px" style="border:1px solid #d3d3d3;">Your browser does not support the HTML5 canvas tag.</canvas>

	<div class="container">
		
		<form action="" class="form-custom form-signup">
			<div class="input-button">
				<input type="text" placeholder="Your email address">
				<button>Sign Up</button>
			</div>
		</form>

		<div class="linkedin-login">
			<a href=""><img src="assets/img/Sign-In-Large---Active.png" alt="Sign In with Linkedin"></a>
			<br>
			&copy; copyright 2015 <a href="http://www.techtalent.asia/">techtalent.asia</a>
		</div>
		
	</div>

</div>