<div class="bg">
	
	<div ng-include src="'views/layout/header.html'"></div>

	<div class="container">
		
		<!-- <form action="" class="form-custom form-signup">
			<div class="input-button">
				<input type="text" placeholder="Your email address">
				<button>Sign Up</button>
			</div>
		</form> -->

		<div class="m-t-430">
			
			<div class="col-md-6">
				<a href="#/signup" class="signup pull-right">Sign Up</a>
			</div>

			<div class="col-md-6">
				<div class="linkedin-login pull-left">
					<a href=""><img src="assets/img/Sign-In-Large---Active.png" alt="Sign In with Linkedin"></a>
				</div>
			</div>

			<div class="col-md-12 text-center">
				&copy; copyright 2015 <a href="http://www.techtalent.asia/">techtalent.asia</a>
			</div>

		</div>
		
	</div>

</div>