<div class="top-absolute">
	<div class="users">

		<a href="">
			<div class="user hexagon hexagon-1 wow bounceIn" data-wow-delay=".2s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-2 wow bounceIn" data-wow-delay=".4s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-3 wow bounceIn" data-wow-delay=".6s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-4 wow bounceIn" data-wow-delay=".8s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-5 wow bounceIn" data-wow-delay=".2s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-6 wow bounceIn" data-wow-delay=".4s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-7 wow bounceIn" data-wow-delay=".6s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-8 wow bounceIn" data-wow-delay=".8s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-9 wow bounceIn" data-wow-delay=".2s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-10 wow bounceIn" data-wow-delay=".4s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-11 wow bounceIn" data-wow-delay=".6s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-12 wow bounceIn" data-wow-delay=".8s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-13 wow bounceIn" data-wow-delay=".2s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-14 wow bounceIn" data-wow-delay=".4s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-15 wow bounceIn" data-wow-delay=".6s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-16 wow bounceIn" data-wow-delay=".8s"></div>
		</a>

		<a href="">
			<div class="user hexagon hexagon-17 wow bounceIn" data-wow-delay=".2s"></div>
		</a>

	</div>
</div>

<canvas id="connection" width="800px" height="600px" class="wow fadeIn" data-wow-delay=".3s">Your browser does not support the HTML5 canvas tag.</canvas>