/*================================================
=            Helper Class for Developer            =
================================================*/

.hide{
	display: none!important;
}

.clearfix{
	clear: both;
}

/*Margin*/
.no-margin{
	margin: 0px!important;
}

.no-margin-left{
	margin-left: 0px!important;
}

.no-margin-right{
	margin-right: 0px!important;
}

/*Padding*/
.no-padding{
	padding: 0px!important;
}

.no-padding-left{
	padding-left: 0px!important;
}

.no-padding-right{
	padding-right: 0px!important;
}

/*Class Font*/
.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.capitalize{
	text-transform: capitalize;
}


/*-----  End of Helper Class for Developer  ------*/

