/**
*
* Created by Ray & Gifa | January 2016
*
**/

/*============================================
=            Mixins for Developer            =
============================================*/

@mixin transition($second) {
	-webkit-transition: all $second;
	-o-transition: all $second;
	transition: all $second;
}

@mixin rotate($deg) {
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	transform: rotate($deg);
}

/*-----  End of Mixins for Developer  ------*/

