/*======================================
=            Variabel Warna            =
======================================*/

/*Warna Umum*/
$white : #FFFFFF;
$black : #000000;

/*Warna Base TechTalentAsia*/
$black-primary : #272727;
$orange-primary : #ff8400;

/*-----  End of Variabel Warna  ------*/



/*===========================================
=            Variabel untuk Font            =
===========================================*/

$font-helvetica-l: "Helvetica-Light";
$font-helvetica-r: "Helvetica-Roman";
$font-helvetica-b: "Helvetica-Bold";
$font-freehand: "Freehand";


/*-----  End of Variabel untuk Font  ------*/
/*-----  Created by Ray on January  ------*/

