/**
*
* Created by Ray & Gifa | January 2016
*
**/


/*======================================
=            Variable Warna            =
======================================*/

/* Warna Umum */
$white : #fff;
$black : #000;

/* Warna Base */
$orange : #FF8500;
$dark-orage : #CC6D05;

/*-----  End of Variable Warna  ------*/


/*===========================================
=            Variabel Untuk Font            =
===========================================*/

$font-bold : 'Helvetica-Bold';
$font-regular : "Helvetica-Roman";

/*-----  End of Variabel Untuk Font  ------*/