.bg {
	width: 100%;
	min-height: 100vh;
	background: url(/bg-asia_techtalent.png) no-repeat center;
}

#connection {
	width: 800px;
	height: 600px;
	margin: auto;
	position: absolute;
	top: -50px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.top-absolute {
	width: 800px;
	height: 600px;
	margin: auto;
	position: absolute;
	top: -50px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	.users {
		width: 800px;
		height: 600px;
		margin: auto;
		position: relative;
		.user {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			position: absolute;
			border: 3px solid #fff;
			box-shadow: 0px 10px 35px #ccc;
			@include transition(.2s);
			&:hover {
				width: 100px;
				height: 100px;
				margin-left: -10px;
				margin-top: -10px;
				box-shadow: 0px 10px 35px #999;
			}
		}
	}
}

.navbar {
	border: none;
	border-radius: 0;
	margin: 0;
	&-brand {
		font-weight: bold;
		color: $orange !important;
	}
	&-custom {
		background: transparent;
		padding-top: 20px;
		.nav {
			li {
				a {
					font-weight: bold;
					color: #999;
					@include transition(.3s);
					&:hover, &:focus {
						color: #666;
					}
				}
				&.active {
					a {
						background: $orange;
						color: #fff;
						&:hover, &:focus {
							background: $orange;
							color: #fff;
						}
					}
				}
			}
		}
	}
	&-right {
		@media (max-width: 767px) {
			float: right;
			margin-top: -45px;
		}
	}
}

.form-signup {
	max-width: 450px;
	margin: auto;
	margin-top: 320px;
	font-size: 16px;
	z-index: 9;
	position: relative;
	@media (max-width: 767px) {
		margin-top: 35vh;
	}
}

.signup {
	width: 215px;
	text-align: center;
	margin: auto;
	display: block;
	position: relative;
	z-index: 9;
	background: $orange;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 1px;
	@include transition(.3s);
	&:hover {
		background: $light-orange;
		color: #fff !important;
		box-shadow: 0px 10px 35px #eee;
	}
}

.linkedin-login {
	text-align: center;
	padding-bottom: 20px;
	position: relative;
	z-index: 9;
	img {
		height: 40px;
		margin-bottom: 10px;
	}
}

.login-form{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	// margin-top: 100px;
	@media (max-width: 767px) {
		margin-top: 35px;
	}
	.logo{
		font-size: 24px;
		font-weight: bold;
		color: $orange !important;
	}
	.form-login{
		margin: 20px 0 85px;
		input{
			margin: 10px 0;
			height: 40px;
		}
		button{
			height: 40px;
		}
		.btn-login{
			margin-top: 25px;
			background: $orange;
			color: white;
			font-weight: bold;
		}
		.btn-signup{
			background: #E1E7EB;
			font-weight: bold;
		}
		a{
			color: $orange;
		}
		.checkbox{
			margin: 0px!important;
			input{
				left: 0;
				margin: 0px!important;
				height: 22px!important;
			}
		}
		span{
		    position: relative;
			top: -31px;
			background: $white;
			padding: 0 8px;
			font-family: Georgia,Times,"Times New Roman",serif;
		}
	}
	.login-desc{
		font-size: 12px;
		color: #585858;
		a{
			color: #585858;
		}
		span{
			display: inherit;
			margin-top: 5px;
			margin-bottom: 25px;
		}
	}
}

.page-loader {
	width: 100%;
	height: 100vh;
	background: #fff;
	position: absolute;
	z-index: 9999;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

#modalRegister{
	.modal-header{
		padding: 40px 40px 15px;
		border-bottom: none;
		.modal-title{
			font-size: 28px;
		}
		.linkedin-login{
			img{
				height: 30px;
				float: left;
				margin-top: 10px;
				margin-bottom: 0;
			}
		}
		hr{
			margin-bottom: 0!important;
		}
	}
	.modal-body{
		padding: 0px 40px 40px;
		form{
			.form-control{
				margin-top: 10px!important;
				height: 40px
			}
			input:focus{
				border-color: $orange;
				box-shadow: none;
			}
			p{
				margin-top: 20px!important;
			}
			.btn-login{
				background: $orange;
				color: $white;
				font-weight: bold;
				height: 40px;
				&:hover{
					background: $light-orange;
				}
				/* &:after{
					font-family: FontAwesome;
					content: "\f105";
					position: relative;
					right: -15px;
					background: $dark-orange;
					padding: 10px;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
				} */
			}
		}
	}
}