.bg {
	width: 100%;
	min-height: 100vh;
	background: url(/public/assets/img/bg-asia_techtalent.png) no-repeat center;
}


.navbar {
	border: none;
	border-radius: 0;
	margin: 0;
	&-brand {
		font-weight: bold;
		color: $orange !important;
	}
	&-custom {
		background: transparent;
		padding-top: 20px;
		.nav {
			li {
				a {
					font-weight: bold;
					color: #999;
					@include transition(.3s);
					&:hover, &:focus {
						color: #666;
					}
				}
				&.active {
					a {
						background: $orange;
						color: #fff;
						&:hover, &:focus {
							background: $orange;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.form-login {
	max-width: 450px;
	margin: auto;
	margin-top: 250px;
}