/*=================================
=            Helvetica            =
=================================*/

@font-face
{
	font-family:'Helvetica-Light';
	src:url('../fonts/HelveticaLTStd-Light.woff');
}

@font-face
{
	font-family:'Helvetica-Roman';
	src:url('../fonts/HelveticaLTStd-Roman.woff');
}

@font-face
{
	font-family:'Helvetica-Bold';
	src:url('../fonts/HelveticaNeueLTStd-Bd.woff');
}