	<nav class="navbar navbar-default navbar-custom" ng-controller="SiteController">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Tech Talent Asia</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="" id="bs-example-navbar-collapse-1" ng-if="!login.loggedIn">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Log In</a></li>
				</ul>

			</div><!-- /.navbar-collapse -->

			<div class="" id="bs-example-navbar-collapse-1" ng-if="login.loggedIn">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="login.doLogout()">Log Out</a></li>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>